body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #fff !important;
    color: #fff;
}
a, a:hover{
    text-decoration: none;
}
.user_card {
	    height: 325px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: rgb(13, 111, 101);
    position: relative;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-bottom: 25px;
}
.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: rgb(13, 111, 101);
	padding: 10px;
	text-align: center;
}
.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}
.form_container {
	margin-top: 100px;
}
.login_btn {
	width: 100%;
	background: #3b953b !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #c0392b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #c0392b !important;
}

.font-med{
    font-size: medium;
}

.fix-links{
    font-size: x-small;
}

.login-form{
    margin-top: 65px; 
}

.tab-fix{
    float: left;
    border: 1px solid #5e5c5c;
    background-color: #5e5c5c;
    width: 25%;
    height: 900px;
}
/**
.tabcontent-fix p, .tabcontent-fix h3{
    color: #fff;
}

.tabcontent-fix p{
        font-size: smaller;
    }
**/


.bloom-timestamp-p, .symspell-timestamp-p{
    font-size: x-small;
    float: right;
    margin-top: revert;
    color: gray;
}

.tabcontent-fix h3{
    font-size: larger;
    margin-top: 8.2px;
}
.tabcontent-fix hr{
    border: 1px solid black;

}
.tab-fix button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: medium;
  margin-left: 0px;
}

.tab-fix button:hover {
  background-color: #ddd;
}

.tab-fix button.active {
  background-color: #ccc;
}

.tabcontent-fix {
    background-color: #fffffffa;
  float: left;
  padding: 15px 10px;
  /* border: 1px solid #ccc; */
  width: 75%;
  border-left: none;
  height: 900px;
  
  border-left: 1px solid #fff;
  margin-bottom: 125px;
}

.tabcontent-fix h3 {
    color:black;
}

.col-s-3{
    width: 30%;
}

.userword-panel{
    margin: 1px;
    justify-content: center;
    margin-bottom: 115px;
}
/**
.user-box{
    padding: 15px 5px;
    border: 1px solid #fff;
    margin: 12px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    background: #e2e2e29e;
    border-radius: 12px;
    box-shadow: 5px 5px 3px -2px #000;
    color: #448affcf;
}

.user-box:hover {
    background: #448affcf;
    color: #fff;
}
**/
.modal{
    color: #000;
}
.card .card-block {
    padding: 20px;
}

.card .card-footer {
    border-top: none;
    padding: 15px 20px;
    border-radius: 0 0 5px 5px;
}

.text-muted {
    color: #78909c !important;
}

.m-b-0 {
    margin-bottom: 0px;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.text-c-purple {
    color: #536dfe;
}

.bg-c-purple{
    background-color: #536dfe;
}

.text-c-green {
    color: #11c15b;
}

.bg-c-green {
    background: #11c15b;
}

.bg-c-red {
    background: #ff5252;
}

.text-c-red {
    color: #ff5252;
}

.text-c-blue {
    color: #448aff;
}

.bg-c-blue {
    background: #448aff;
}

h6 {
    font-size: 12px;
}

h4 {
    font-size: unset;
    font-weight: 600;

}

.mar-fix{
    margin: 5px 2px;
    justify-content: center;
    padding: 15px 10px;
}

.progress-cards{
    margin-top: 15px;
}

.lastdate{
    font-size: smaller;
    color: #ff5252;
}
.build-status{
    color: #fff;
    border: 1px solid green;
    border-radius: 23px;
    padding: 7px 7px;
    margin-left: 5px;
    background: green;
    font-size: 0.58rem;
    float: right;
}

.build-status i{
    position: absolute;
    top: 13px;
    right: 13px;
    font-size: x-small;
}

.btn-opt{
    text-transform: uppercase;
    font-size: revert;
    font-weight: bold;
    border-radius: 8px;
    padding-top: 5px;
}

.stopped{
    color: red;
    font-size: smaller;

}

.running{
    color: #e6cc00;
    font-size: smaller;
}

.subtitle-card{
    font-size: small;
    color: #666;
}

.recheck{
    display: none;
}
